/*
@tailwind base;
@tailwind components;
@tailwind utilities;
*/

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.h-1 {
    height: 1px;
}

.grow {
    flex-grow: 1;
}

.items-center {
    align-items: center;
}

.overflow-auto-y {
    overflow-y: auto;
}


body {
    height: 100vh;
}


#app {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#root {
    height: 100%;
    display: flex;
    flex-direction: column;
}
